*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    justify-content: center;
}
.menu {
    padding: 10px;
    padding-right: 40px;
    background-color: rgb(255, 255, 255);
}

.menu ul {
    display: flex;    
    list-style: none;
    justify-content: flex-end;
}

.menu ul li{
    margin: 30px;
}

.menu a{
    text-decoration: none;
}

.menu ul img{
   margin-right: 560px;
   padding-top: 10px;
}